extends ../dashboard
//-each course in user.courses
block contentDashboard 
    ul.courses
        each course, i in courses 
            li.course
                a(href=`course/${course._id}`, data-courseid=course._id)= course.nombre
    if user.role="student"
        //-button Unirse a Curso
        //-form.modal.join-course.hidden
        form.join-course
            label(for="course-code") Código del Curso
            input(type="text" id="course-code")
            button.btn.btn-small Unirse
    else
        a.btn-small.create-course Crear Curso
        
        
        