extends ../dashboard
block contentDashboard
    h1 Hello
    each quiz in course.quices
        ul.quizzes-container
            li.quiz-item
                a.quiz-link(href="quiz/view")= quiz.nombre
    