header.header 
    h2
        label(for="nav-toggle")
            i.fas.fa-bars
        |   Dashboard
    .search-wrapper
        i.fas.fa-search
        input(type="search" placeholder="Buscar")
    .user-wrapper 
        img(src="#", alt="Aqui va el avatar o foto", width="40px", height="40px")
        div
            h4= user.nombre
            small= user.rol