extends utils/metadata

mixin navItem(link, text, icon, active)
    li.sidebar__menu-item
        a.sidebar__menu-link(class=`${active ? 'active' : ''}` href=`${link}`)
            //- span.las.la-igloo
            i(class=`fas fa-${icon}`)
            span #{text}
block content
    input#nav-toggle(type="checkbox")
    .sidebar 
        .sidebar__brand
            h2.sidebar__title
                //- span.lab.la-accusoft 
                i.fab.fa-accusoft 
                //- El logo del proyecto
                span Accusoft
        .sidebar__menu
            ul.sidebar__menu-list
                +navItem('/dashboard', 'Dashboard', 'igloo', true)
                +navItem('/perfil', 'Perfil', 'user')
                +navItem('/courses', 'Mis Cursos', 'book')
                +navItem('/notas', 'Mis Notas', 'clipboard-list')
    
                li.sidebar__menu-item
                    a.sidebar__menu-link(href="#")
                        //- span.las.la-clipboard-list  
                        i.fas.fa-sign-out-alt
                        span 
                            button.sidebar__menu--logout Cerrar Sesión
    .main-content
        // HEADER
        include utils/_header

        // CONTENT
        main.main
            block contentDashboard

        // FOOTER
        // include utils/_footer
