
  .stepOne, .stepTwo {
    display: flex;
    flex-direction: column;
  }
  
  .hidden {
    display: none;
  }
  
  .label-subject {
    margin-top: 1.2em;
  }

  .question {
    width: 400px;
  }
  .options {
    width: 250px;
  }

  li[class^="topic-"], li[class^="subtopic-"] {
    border: 2px solid gray;
    display: inline-block;
  }