  body {
    background: rgba(240, 225, 235, 0.6);
  }  
  #form__question {
    background: rgba(240, 225, 235, 0.6);
    display: flex;
    justify-content: space-between;
    width: 100rem;
  }

  .answers {
    width: 25px;
    margin-right: 1rem;    
  }
  // .data {
  //   margin-right: 10rem;
  // }

  .question {
    width: 70%;
  }