.questions {
    width: 100%;
    //background-color: blue;
    // width: 40rem;
    margin-left: 1.6rem;
}

li {
    display: flex; 
    align-items: center;
}

.question-label {
    margin-left: 20px;
}

.question-container {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
}

.number {
    font-size: 1.6rem;
}

.option-list-item {
    margin: 0 0 -1.5rem 2rem;
}
.question {
    margin-left: 1.2rem;
}


.question-answer {
    word-wrap: break-word;
    max-width: 35rem;
}

.option-input {
    width: 20px;
}