input {
  margin: 0 1em 1em 1em;
  padding: .5em 1.1em;
  font-size: 1.3rem;
  min-width: 20rem;
  max-width: 40rem;
  min-height: 3rem;
}

textarea {
  min-height: 3em;
  overflow: hidden;
  resize: none;
  min-width: 35rem;
  overflow: hidden;
  resize: none;
}
